li{
  padding: 1.25rem;
  border-bottom: 1px solid var(--list-border-bottom-item);
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: move;
  transition: 0.4s;
}

li .checked{
  text-decoration: line-through;
  color: var(--completed-font-color);
}

li .delete{
  opacity: 0;
  margin-left: auto;
  background: transparent;
  transition: 0.4s;
  color: red;
}

li:hover .delete{
  opacity: 100;
  background: transparent;
}

li span {
  width: fit-content;
}

