li{
  padding: 1.25rem;
  border-bottom: 1px solid #E3E4F1;
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: move;
}

li .checked{
  text-decoration: line-through;
  color: #D1D2DA;
}

li .delete{
  opacity: 0;
  margin-left: auto;
  background: transparent;
  transition: 0.4s;
}

li:hover .delete{
  opacity: 100;
  background: transparent;
}
