.todo-list-container {
  padding: 0;
  border-radius: 0.5rem;
  position: relative;

  top: -7rem;
  box-shadow: -8px 38px 53px -21px rgba(73,76,107,0.3);
  transition: 0.4s;
}

.todo-options-container {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template:
  "items-left todo-list-options-sort clear";
  column-gap: 4rem;
}

.items-left {
  grid-area: items-left;
  justify-self: start;
}

.clear {
  grid-area: clear;
  background-color: transparent;
  justify-self: end;
}

.todo-list-options-sort {
  grid-area: todo-list-options-sort;
  display: flex;
  gap: 10px;
  justify-self: end;
}

.todo-list-options-sort button,
.todo-list-options button,
.todo-list-options span,
.todo-options-container,
.clear {
  color: var(--options-font-color);
  font-size: 0.875rem;
}

.todo-list-options-sort button,
.todo-list-options button {
  background-color: transparent;
  transition: 0.4s;
}

.todo-list-options-sort button {
  font-weight: 700;
}

.todo-list-options-sort button:hover,
.todo-list-options button:hover {
  color: var(--options-hover-font-color);
}

.todo-list-options-sort .selected {
  color: var(--options-active-font-color);
}

.cdk-drag-preview {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--item-background-color);
  color: var(--options-font-color);
  font-size: 1.12rem;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 0);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 0);
}

@media only screen and (max-width: 768px) {
  .todo-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template:
    "items-left . clear"
    "todo-list-options-sort todo-list-options-sort todo-list-options-sort";
    row-gap: 2rem;
  }

  .items-left {
    grid-area: items-left;
  }

  .clear {
    grid-area: clear;
  }

  .todo-list-options-sort {
    grid-area: todo-list-options-sort;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 2em;
  }
}
