<app-todo-create
  [todos]="todos"
  [completedTodos] = "completedTodos"
  [activeTodos] = "activeTodos"
></app-todo-create>
<div class="todo-list-container ff-josefin list-item font-list-item">
  <div *ngIf="filter === 'all'">
    <ul *ngFor="let todo of todos">
      <app-item
      [todo]="todo"
      [todos]="todos"
      [completedTodos] = "completedTodos"
      [activeTodos]="activeTodos"
      ></app-item>
    </ul>
  </div>
  <div *ngIf="filter === 'completed'">
    <ul *ngFor="let todo of completedTodos">
      <app-item
      [todo]="todo"
      [todos]="todos"
      [completedTodos] = "completedTodos"
      [activeTodos]="activeTodos"
      ></app-item>
    </ul>
  </div>
  <div *ngIf="filter === 'active'">
    <ul *ngFor="let todo of activeTodos">
      <app-item
      [todo]="todo"
      [todos]="todos"
      [completedTodos] = "completedTodos"
      [activeTodos]="activeTodos"
      ></app-item>
    </ul>
  </div>
  <div class="todo-list-options">
    <span> {{activeTodos.length}} items left</span>
    <div class="todo-list-options-sort">
      <button [ngClass]="((filter === 'all' ? 'ff-josefin selected' : 'ff-josefin'))" (click)="showItems('all')">All</button>
      <button [ngClass]="((filter === 'active' ? 'ff-josefin selected' : 'ff-josefin'))" (click)="showItems('active')">Active</button>
      <button [ngClass]="((filter === 'completed' ? 'ff-josefin selected' : 'ff-josefin'))" (click)="showItems('completed')">Completed</button>
    </div>
    <button class="ff-josefin" (click)="clearCompletedTodos()">Clear Completed</button>
  </div>
</div>
