<div class="todo-list-container ff-josefin list-item font-list-item">
  <ul>
    <li class="checked"><button class="active"><img src="assets/check.svg"></button> Complete online JavaScript course</li>
    <li><button class="inactive"><img src="assets/check.svg"></button>Jog around the park 3x <button class="delete"><img src="assets/ex.svg" alt="delete button"></button></li>
    <li><button class="inactive"><img src="assets/check.svg"></button>10 minutes meditation <button class="delete"><img src="assets/ex.svg" alt="delete button"></button></li>
    <li><button class="inactive"><img src="assets/check.svg"></button>Read for 1 hour <button class="delete"><img src="assets/ex.svg" alt="delete button"></button></li>
    <li><button class="inactive"><img src="assets/check.svg"></button>Pick up groceries <button class="delete"><img src="assets/ex.svg" alt="delete button"></button></li>
    <li><button class="inactive"><img src="assets/check.svg"></button>Complete Todo App on Frontend Mentor <button class="delete"><img src="assets/ex.svg" alt="delete button"></button></li>
  </ul>
  <div class="todo-list-options">
    <span>5 items left</span>
    <div class="todo-list-options-sort">
      <button class="ff-josefin selected">All</button>
      <button class="ff-josefin">Active</button>
      <button class="ff-josefin">Completed</button>
    </div>
    <button class="ff-josefin">Clear Completed</button>
  </div>
</div>
