<app-todo-create></app-todo-create>
<div class="todo-list-container ff-josefin list-item font-list-item">
  <div *ngIf="filter === 'all'" cdkDropList (cdkDropListDropped)="drop($event)">
    <ul *ngFor="let todo of todos" cdkDrag>
      <app-item [todo]="todo"></app-item>
    </ul>
  </div>
  <div *ngIf="filter === 'completed'" cdkDropList (cdkDropListDropped)="drop($event)">
    <ul *ngFor="let todo of completedTodos" cdkDrag>
      <app-item [todo]="todo"></app-item>
    </ul>
  </div>
  <div *ngIf="filter === 'active'" cdkDropList (cdkDropListDropped)="drop($event)">
    <ul *ngFor="let todo of activeTodos" cdkDrag>
      <app-item [todo]="todo"></app-item>
    </ul>
  </div>
  <div class="todo-options-container">
    <span class="todo-list-options items-left"> {{activeTodos.length}} items left</span>
    <button class="todo-list-options ff-josefin clear" (click)="clearCompletedTodos()">Clear Completed</button>
    <div class="todo-list-options-sort">
      <button [ngClass]="((filter === 'all' ? 'ff-josefin selected' : 'ff-josefin'))" (click)="showItems('all')">All</button>
      <button [ngClass]="((filter === 'active' ? 'ff-josefin selected' : 'ff-josefin'))" (click)="showItems('active')">Active</button>
      <button [ngClass]="((filter === 'completed' ? 'ff-josefin selected' : 'ff-josefin'))" (click)="showItems('completed')">Completed</button>
    </div>
  </div>
</div>
