.todo-list-container {
  padding: 0;
  border-radius: 0.5rem;
  position: relative;

  top: -7rem;
  box-shadow: -8px 38px 53px -21px rgba(73,76,107,0.3);
}

.todo-list-options {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.todo-list-options-sort {
  display: flex;
  gap: 10px;
}

.todo-list-options-sort button,
.todo-list-options button,
.todo-list-options span {
  color: #9495A5;
  font-size: 0.875rem;
}

.todo-list-options-sort button,
.todo-list-options button {
  background-color: transparent;
  transition: 0.4s;
}

.todo-list-options-sort button {
  font-weight: 700;
}

.todo-list-options-sort button:hover,
.todo-list-options button:hover {
  color: #494C6B;
}

.todo-list-options-sort .selected {
  color: #3A7CFD;
}
