.input-container {
  position: relative;
  right: 0;
  left: 0;
  bottom: 5rem;
  border-radius: 0.5rem;

  display: flex;
  gap: 24px;
}

.input-container label {
  display: none;
}

.input-container input[type=text] {
  border: none;
  width: 100%;
}
