.input-container {
  width: 33.75rem;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 1.25rem;

  border-radius: 0.5rem;
  position: relative;
  right: 0;
  left: 0;
  bottom: 6rem;

  background-color: #FFFFFF;

  display: flex;
  gap: 24px;
}

.input-container .inactive {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid hsla(236, 32%, 92%, 1);
}

.input-container .inactive img{
  display: none;
}

.input-container .active {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: rgb(85,221,255);
  background: linear-gradient(110deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.input-container label {
  display: none;
}

.input-container input[type=text] {
  border: none;
  width: 100%;
  color: #9495A5;
  font-size: 1.12rem;
}
