.input-container {
  position: relative;
  right: 0;
  left: 0;
  bottom: 9rem;
  border-radius: 0.5rem;

  display: flex;
  gap: 24px;
  transition: 0.4s;
}

.input-container label {
  display: none;
}

.input-container input[type=text] {
  border: none;
  max-width: 90%;
  background-color: transparent;
}

button {
  width: 24px;
  height: 24px;
}

.body-container {
  display: flex;
}
