/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}
