/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --main-font-color: #494C6B;
  --completed-font-color: #D1D2DA;
  --item-background-color: #FFFFFF;
  --main-background: #F2F2F2;
  --options-font-color: #9495A5;
  --options-active-font-color: #3A7CFD;
  --options-hover-font-color: #494C6B;
  --background-image: url("./assets/Bitmap.jpg");
  --list-border-bottom-item: #E3E4F1;
  --symbol: url("./assets/moon.svg");
}

:root .dark-theme{
  --main-font-color: #C8CBE7;
  --completed-font-color: #4D5067;
  --item-background-color: #25273D;
  --main-background: #171823;
  --options-font-color: #5B5E7E;
  --options-active-font-color: #3A7CFD;
  --options-hover-font-color: #E3E4F1;
  --background-image: url("./assets/Bitmap-Night.jpg");
  --list-border-bottom-item: #393A4B;
  --symbol: url("./assets/sun.svg");
}

* {
  margin: 0;
  padding: 0;
}

.ff-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: var(--main-background);
  transition: 0.4s;
}

ul, ol {
  list-style-type: none;
}

.disabled {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--item-background-color);
  border: 1px solid hsla(236, 32%, 92%, 1);
  transition: 0.4s;
}

.disabled:hover {
  background: linear-gradient(var(--item-background-color), var(--item-background-color)) padding-box,
  linear-gradient(110deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 100%) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.disabled img{
  display: none;
}

.active {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: rgb(85,221,255);
  background: linear-gradient(110deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.list-item {
  background-color: var(--item-background-color);
  width: 33.75rem;
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  font-size: 1.25rem;
}

.font-list-item {
  color: var(--main-font-color);
  font-size: 1.12rem;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
