/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: #F2F2F2;
}

ul, ol {
  list-style-type: none;
}

.disabled {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid hsla(236, 32%, 92%, 1);
  transition: 0.4s;
}

.disabled:hover {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(110deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 100%) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.disabled img{
  display: none;
}

.active {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: rgb(85,221,255);
  background: linear-gradient(110deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.list-item {
  background-color: #FFFFFF;
  width: 33.75rem;
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  font-size: 1.25rem;
}

.font-list-item {
  color: #9495A5;
  font-size: 1.12rem;
}


